/* ARTICLE */

.article {
	display: flex;
	gap: 30px;
	margin-bottom: -94px;

	&__icons {
		width: 270px;
		height: 120px;
		padding: 25px 102.34px;
		margin-bottom: 30px;
		background: var(--article-icon-bg);
		border-radius: 4px;
	}

	&__title {
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: var(--almost-black-color);
	}

	&__text {
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: var(--brand-lightgrey-color);
	}
}
