.filter {
	margin-bottom: -60px;

	@include desktop {
		margin-bottom: -94px;
	}

	&__btns {
		background: var(--brand-white-color);
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		gap: 8px;
		justify-content: flex-start;
		margin-bottom: -44px;

		@include tablet {
			justify-content: center;
		}

		@include desktop {
			justify-content: center;
		}
	}

	&__btn {
		cursor: pointer;
		font-family: "Roboto", sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 1.63;
		text-align: center;
		letter-spacing: 0.03em;
		color: var(--almost-black-color);
		border-radius: 4px;
		border: 0;
		padding: 6px 22px;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:is(:hover, :focus) {
			background-color: var(--active-color);
			border-radius: 4px;
			color: var(--brand-white-color);
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
				0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}
}
