/* HERO */
.hero {
	background: var(--brand-darkgrey-color);
	background-image: url("../images/hero_work_in_office.jpg"),
		linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	padding: 200px 0;

	@include desktop {
		padding: 200px 0;
		background-size: auto;
	}

	&__title {
		display: flex;
		padding: 0 252px;
		margin-bottom: 30px;
		font-weight: 900;
		font-size: 44px;
		line-height: 1.3636;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: var(--brand-white-color);

		@include desktop {
			width: 696px;
			@include font($fw: 900, $fs: 44px, $lh: 60px, $ls: 0.06em);
		}
	}

	&__btn {
		background: var(--active-color);
		color: var(--brand-white-color);
		font-weight: 700;
		line-height: 1.875;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
		border: 0;
		padding: 10px 41px 10px 42px;
		font-family: "Roboto", sans-serif;
		cursor: pointer;
	}
}

// gęstość 2 i 3x

@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/hero_work_in_office@2x.jpg);
	}
}

@media (min-device-pixel-ratio: 3),
	(min-resolution: 288dpi),
	(min-resolution: 3dppx) {
	.hero {
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/hero_work_in_office@3x.jpg);
	}
}
