.logo {
	display: flex;
	justify-content: center;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--active-color);
	text-decoration: none;

	@include desktop {
		text-align: left;
		justify-content: left;
	}
}
