@include tablet {
	.burger__mobile-hide {
		display: none;
	}
}

@include desktop {
	.burger__mobile-hide {
		display: none;
	}
}

.menu {
	padding: 8px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	gap: 32px;

	&__toggle {
		min-height: 40px;
		min-width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		margin: 0;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		border: none;
		border-radius: 50%;
		outline: none;
	}

	&__container {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 48px 83px 48px 48px;
		background-color: var(--brand-white-color);
		z-index: 999;

		transform: translateX(100%);
		transition: transform 250ms ease-in-out;

		&.is-open {
			transform: translateX(0);
		}

		& .menu__toggle {
			position: absolute;
			top: 16px;
			right: 16px;
			color: #fff;
		}
	}

	&__nav {
		color: var(--brand-block-color);
		text-decoration: none;
		font-weight: 500;
		font-size: 40px;
		line-height: 1.175;
		letter-spacing: 0.02em;

		&:is(:hover, :focus) {
			color: var(--active-color);
		}

		&--item {
			gap: 36px;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 32px;
		margin-top: 302px;
		margin-bottom: 64px;
	}

	&__contact {
		text-decoration: none;
		display: flex;

		&-link {
			gap: 10px;
			font-weight: 500;
			font-size: 34px;
			line-height: 1.43;
			color: var(--brand-lightgrey-color);
			transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
			flex-wrap: nowrap;
			min-width: 267px;

			&:hover,
			&:focus {
				color: var(--active-color);
			}
		}

		&:last-child {
			font-size: 24px;
		}
	}

	&__socials {
		display: flex;
		justify-content: center;
		max-width: 357px;

		&--item {
			border-right: 1px solid rgba(33, 33, 33, 0.2);
			padding: 0 10px;

			&:last-child {
				border-right: none;
			}
		}

		&--link {
			text-decoration: none;
			color: var(--active-color);
			font-size: 18px;
			font-weight: 500;
			line-height: 1.22;
			letter-spacing: 0.02em;
		}
	}

	&__icon--close {
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			fill: var(--active-color);
		}
	}
}
