.menu-toggle {
	background: none;
	border: none;
}

// @media screen and (max-width: 767px) {
// 	.menu,
// 	.contact {
// 		display: none;
// 	}
// }

// @media screen and (min-width: 768px) {
// 	.menu-toggle {
// 		display: none;
// 	}
// }

.hamburger {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100vw;
	height: 100vh;
	transform: translateY(-100%);
	transition: transform 250ms getAnimation("cubic-bezier");

	& .menu-toggle {
		position: absolute;
		top: 10px;
		right: 15px;
	}

	&__icon {
		fill: var(--brand-black-color);
		cursor: pointer;
  }

	&__icon:hover {
		fill: var(--active-color);
	}

	&__content {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: var(--brand-white-color);
		padding-top: 48px;
		padding-bottom: 48px;
		padding-left: 40px;
		overflow-y: auto;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	&__link {
		color: var(--brand-black-color);
	}

	&__link:hover {
		color: var(--active-color);
	}

	&__contacts {
		display: flex;
		flex-direction: column;
	}

	&__tel {
		margin-top: 32px;
		margin-bottom: 32px;
	}

	&__tel--link {
		color: var(--active-color);
	}

	&__mail {
		margin-bottom: 64px;
	}

	&__mail--link {
		color: getColor("grey");
	}

	&__socials {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__socials--item {
		border-right: 1px solid rgba(33, 33, 33, 0.2);
		padding-right: 10px;
	}

	&__socials--item:last-child {
		border: none;
	}

	&__socials--link {
	color: var(--active-color);
	}
}
