:root {
	--active-color: #2196f3;
	--almost-black-color: #212121;
	--brand-white-color: #ffffff;
	--brand-black-color: #020202;
	--brand-lightgrey-color: #757575;
	--brand-darkgrey-color: #2f303a;
	--card-box-border-color: #eeeeee;
	--foot-link-color: rgba(255, 255, 255, 0.6);
	--team-cards-bg-color: #f5f4fa;
	--border-bottom-color: #ececec;
	--article-icon-bg: #f5f4fa;
	--icons-fill: #afb1b8;
}

$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;